/target
.litecord_*
.litecord_token
.litecord_cache
.litecord_user_settings.json
.litecord_audio_config.json
backup_*
backup_*/
build_*.txt
*.log
*.wav
*.bin
*.txt
scratch/
scratch_*
*.tar.gz
release-pkg/
.vscode/
.idea/
*.pdb
